
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap');

body,
.headerclass,
section {
    background-color: #f2f2f2;
}

.headerclass {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

section {
    margin-left: 7em;
}

h1 {
    background-color: #f2f2f2;
    padding-top: 1em;
    padding-bottom: 1em;
    font-family: 'Cinzel Decorative', cursive;
    text-shadow: 0px 4px 4px #234D3C;
}

h2 {
    font-family: 'Cormorant Garamond', serif;
    font-weight: bold;
    font-size: 2.5rem;
    padding-top: 1em;
    padding-bottom: 0.5em;
    margin-left: 2em;
}

nav {
    max-width: 100%;
    box-shadow: #d6d6d6 7px 7px 7px 0px;
}

.navbar {
    background: linear-gradient(237deg, #e6e6e6, #d9d9d9);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 17s ease infinite;
    -moz-animation: AnimationName 17s ease infinite;
    animation: AnimationName 17s ease infinite;
    animation-direction: alternate;
}

@-webkit-keyframes AnimationName {
    0%{background-position:96% 0%}
    50%{background-position:5% 100%}
    100%{background-position:96% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:96% 0%}
    50%{background-position:5% 100%}
    100%{background-position:96% 0%}
}
@keyframes AnimationName {
    0%{background-position:96% 0%}
    50%{background-position:5% 100%}
    100%{background-position:96% 0%}
}

.contact-nav-item {
    margin-left: 10.5em;
    margin-right: 1.5em;
} 

.nav-link:hover,
.dropdown-item:hover {
    animation-name: navhover_animation;
    animation-duration: 7s;
    animation-delay: 1s;
}

@keyframes navhover_animation {
    from {background-color: #e6e6e6; color: #cccccc; border-radius: 15px}
    to {background-color: #bfbfbf; color: black; border-radius: 7px;}
}

.nav_dropdown {
    background-color: #e6e6e6;
}

img {
    max-width: 100%;
}

.contact_animation1 {
    text-shadow: 0px 10px 10px #0e76a8;
    font-family: 'Cinzel Decorative', cursive;
    text-decoration: none;
    color: black;
}

.contact_animation1:hover {
    animation-name: contact_animation1;
    animation-duration: 5s;
    animation-iteration-count: 1;
    color: black;
}

@keyframes contact_animation1 {
    0% {text-shadow: 0px 10px 10px #0e76a8;}
    25% {text-shadow: 0px 40px 10px #0e76a8;}
    50% {text-shadow: 0px 30px 10px #0e76a8;}
    70% {text-shadow: 0px 40px 10px #0e76a8;}
    100% {text-shadow: 0px 10px 10px #0e76a8;}
}

.contact_animation2 {
    text-shadow: 0px 10px 10px #972a1c;
    font-family: 'Cinzel Decorative', cursive;
    text-decoration: none;
    color: black;
}

.contact_animation2:hover {
    animation-name: contact_animation2;
    animation-duration: 5s;
    animation-iteration-count: 1;
    color: black;
}

@keyframes contact_animation2 {
    0% {text-shadow: 0px 10px 10px #972a1c;}
    25% {text-shadow: 0px 40px 10px #972a1c;}
    50% {text-shadow: 0px 30px 10px #972a1c;}
    70% {text-shadow: 0px 40px 10px #972a1c;}
    100% {text-shadow: 0px 10px 10px #972a1c;}
}

@media only screen and (max-width: 767px)
{
    section {
        margin-left: 0em;
    }

    img {
        max-width: 30%;     
    }

    .contact-nav-item {
        margin-left: 0em;
        margin-right: 0em;
    }
    
    h2 {
        font-size: 1.5rem;
        margin-left: 2em;
        text-align: center;
    }

    address {
        font-size: small;
    }

}