/* Laura Vikström  */

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

/* Heading */
h2,
h3 {
  margin-top: 1.5em;
  color: #663d00;
  font-family: 'Permanent Marker', cursive;
}

/* Text before quiz */
.element_width {
  max-width: 60ch;
  margin: 0 auto !important;
}

/* Leaf icon */
.fa-leaf {
  color: #e68a00;
}

/* Form element*/
form {
  padding-left: 2.5em;
}

/* Button */
.btn {
  margin-left: 10em;
}

/* Hidden elements */
.hided {
  display: none;
}

/* Radio button text when answer is wrong */
.selected {
  background-color: #ff0000;
  border-radius: 5px;
  padding-left: 6px;
  padding-right: 7px;
}

/* Radio button text when answer is right */
.selected_c {
  background-color: #008000;
  border-radius: 5px;
  padding-left: 6px;
  padding-right: 7px;
}

/* Images */
img {
  max-width: 100%;
  border-radius: 10px;
}
